@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');
body{
    font-family: 'Chivo';
    margin: auto;
    min-height: 100%;
    box-sizing: border-box;
    background-color: rgba(249, 235, 218, 0.751);
}
.logodiv, #ul{
    display: flex;
    justify-content: space-between;
    padding: 0px 55px 0px 55px;
}
.navbar{
    transition: 0.3s ease-in-out;
}
.logo{
    width: 9%;
}
span{
    font-size: 22px;
    display: flex;
    align-items: center;
}
.fa-user{
    padding-right: 20px;
}
li a{
    color:black;
    text-decoration: none;
    font-size: 15px;
    font-family: monospace;
    letter-spacing: .2rem;
    text-align: center;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 5px 70px 10px 70px;
    border-bottom: 1px solid black;
}


.image-one{
    width: 50%;
    box-sizing: border-box;
    object-fit: cover;
}
.container-one{
    position: relative;
    padding-bottom: 25px;
}
.bg-container{
    display: flex;
    position: relative;
    height: 740px;

} 

.content-one{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 125px;
    box-sizing: border-box;
  }
.sub-container{
    text-align: center;
    border: 0; 
     padding: 4rem 3rem; 
     position: relative; 
     background-color: rgba(89, 107, 43, 0.73);
    color: rgba(252, 250, 248);

}
.sub-container h2{
    font-size: 35px;
    line-height: 1.5;
    margin: 0;
}
.sub-container h5{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .1em;
}
.btn-one{
    width: 60%;
    padding: 15px;
    color: rgba(89, 107, 43);
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background: rgb(242, 233, 223);
    text-transform: uppercase;
}
.icons{
    position: fixed;
    top: 50%;
    width: 5rem;
    transform: translateY(-30%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#iconUl{
        flex-direction: column;
        align-items: center;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-inline-start: -1.2rem;
        padding: 0;
}
.iconList a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    letter-spacing: .2rem;
    text-align: center;
}
.specialList a{
    color:white;
    writing-mode: tb-rl;
    font-size: 13px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    transform: rotate(-180deg);
}
@keyframes scroll {
    0%{
      transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 4));
    }
}

.container-two{
    background-color: black;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
}
.slide, .slides{
    animation: scroll 20s linear infinite ;
    animation-play-state: running;
    white-space: nowrap;
    display: -webkit-box;
}
.content-two{
    display: flex;
    justify-content: space-between;
}

.container-two h3{
    color: rgb(248, 243, 233);
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0px 20px 0px ;
    
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 30px;
}
.images{
    position: relative;
    height: 100%;
    padding: 20px;
    
}
.image-two{
    display: block;
    width: 35%;
    border-radius: 10px;
    object-fit: cover;
    
}
.image-three{
   border-radius: 10px;
   width: 30%;
    position: absolute;
    top: 12%;
    left: 60%;
    object-fit: cover;
}

.image-four{
   border-radius: 10px;
    width: 40%;
    position: absolute;
    top: 26%;
    left: 33%;
    object-fit: cover;
}

.image-five{
    width: 22%;
    border-radius: 10px;
    position: absolute;
    right: 60%;
    top: 63%;
    object-fit: cover;
}

.grid-item-two{
    padding: 40px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: center;

}
.grid-item-two h2{
    font-family: inherit;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
    word-wrap: break-word;
    
}
.grid-item-two p{
    font-size: 20px;
    font-family: inherit;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
}
.btn-two{
    width: 40%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(251, 249, 230);
    background: rgb(192, 4, 4);
    border: none;
    border-radius: 10px;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06rem;
    margin-top: 30px;
}

.logo-images{
    width: 120px;
    height: 90px;
   
margin: 20px;
}
.sliders{
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container-four h1{
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-size: 35px;
    font-weight: 400;
}
.grid-container-two{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    padding: 10px 50px 0px 50px;
}
.grid-images{
    width: 100%;
    height: 80%;
    border: 2px solid black;
}
.container-five p a{
    color: black;
    text-decoration: none;
}
.container-five p{
    text-align: center;
    font-size: 17px;
}
.container-five a:hover{
    cursor: pointer;
    text-decoration: underline;

}
.container-five small{
    display: flex;
    justify-content: center;
    font-size: 17px;
    letter-spacing: 0.2rem;
    font-weight: 550;
}
.container-five h1{
    font-size: 35px;
    font-family: inherit;
    font-weight: bold;
    padding-left: 50px;
}
.btn-three{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-btn{
    width: 20%;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    font-family: inherit;
    font-weight: bold;
    color: rgb(247, 242, 234);
    background-color: rgba(182, 3, 3, 0.982);
    border-radius: 10px;
    border: 2px solid rgba(182, 3, 3, 0.982);
    margin-top: 10px;
}
b{
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.1rem;
}
em{
    font-size: 13px;
}
.grid-one span{
 font-size: 13px;
 display: flex;
 align-items: end;
}